@charset "UTF-8";

/* FreeSerif */
@font-face {
	font-family: freeserif;
	src: url("../Fonts/FreeSerif.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: freeserif;
	src: url("../Fonts/FreeSerifBold.ttf");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: freeserif;
	src: url("../Fonts/FreeSerifBoldItalic.ttf");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: freeserif;
	src: url("../Fonts/FreeSerifItalic.ttf");
	font-weight: normal;
	font-style: italic;
}

.chrserif {
	font-family: freeserif;
}

.family_default {
	font-family: freeserif;
}

.Title {
	font-family: freeserif;
}

.Author {
	font-family: freeserif;
}

td {
	font-family: freeserif;
}